
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<hr />

<p style="font-weight:bold; padding-bottom:2em;">There are @ViewBag.NewTicketsCount new tickets!</p>

<div>
    <img style="float: left" src="@Url.Action("StatusCountChart", "Home")" />
    <img style="float: right" src="@Url.Action("StatusCountPieChart", "Home")" />
</div>

<div>
    <img style="float: left" src="@Url.Action("CategoryCountChart", "Home")" />
    <img style="float: right" src="@Url.Action("CategoryCountPieChart", "Home")" />
</div>