
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<hr />

<div style="padding-bottom:2em;">
    @{
        int newTicketsCount = ViewBag.NewTicketsCount;
        int unresolvedTicketsCount = ViewBag.UnresolvedTicketsCount;
        if (newTicketsCount > 0)
        {
            <p style="font-weight:bold">There are @ViewBag.NewTicketsCount <red style="color:red">new</red> tickets!</p>

        }
        if (unresolvedTicketsCount > 0)
        {
            <p style="font-weight:bold;">There are @ViewBag.UnresolvedTicketsCount <orange style="color:orange">unresolved</orange> tickets!</p>
        }
    }
</div>


<div>
    <img style="float: left" src="@Url.Action("StatusCountChart", "Home")" />
    <img style="float: right" src="@Url.Action("StatusCountPieChart", "Home")" />
</div>

<div>
    <img style="float: left" src="@Url.Action("CategoryCountChart", "Home")" />
    <img style="float: right" src="@Url.Action("CategoryCountPieChart", "Home")" />
</div>