@model IEnumerable<CustomerSupportManager.Models.TicketModel>

@{
    ViewBag.Title = "CustomerIndex";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@using (Html.BeginForm("SearchTitle", "Tickets"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <br />
            <label for="searchPhrase">Search Title</label>
            <div class="">
                <input type="text" name="searchPhrase" id="searchPhrase" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Product)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.ActionLink("Message", "CustomerMessager", "Messager", new { ticketId = item.Id }, null)
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
            </td>
        </tr>
    }

</table>
