@model IEnumerable<CustomerSupportManager.Models.TicketModel>

@{
    ViewBag.Title = "Index";
}

<h2>Unresolved Tickets</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Product)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerId)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

<h2>Solved Tickets</h2>
<h2>Error Tickets</h2>
<h2>Compensated Tickets</h2>